.column {
	display: block;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	padding: $column-gap;
	box-sizing: border-box;

	.columns.is-mobile > &.is-narrow {
		flex: none;
	}

	.columns.is-mobile > &.is-full {
		flex: none;
		width: 100%;
	}

	.columns.is-mobile > &.is-three-quarters {
		flex: none;
		width: 75%;
	}

	.columns.is-mobile > &.is-two-thirds {
		flex: none;
		width: 66.6666%;
	}

	.columns.is-mobile > &.is-half {
		flex: none;
		width: 50%;
	}

	.columns.is-mobile > &.is-one-third {
		flex: none;
		width: 33.3333%;
	}

	.columns.is-mobile > &.is-one-quarter {
		flex: none;
		width: 25%;
	}

	.columns.is-mobile > &.is-one-fifth {
		flex: none;
		width: 20%;
	}

	.columns.is-mobile > &.is-two-fifths {
		flex: none;
		width: 40%;
	}

	.columns.is-mobile > &.is-three-fifths {
		flex: none;
		width: 60%;
	}

	.columns.is-mobile > &.is-four-fifths {
		flex: none;
		width: 80%;
	}

	.columns.is-mobile > &.is-offset-three-quarters {
		margin-left: 75%;
	}

	.columns.is-mobile > &.is-offset-two-thirds {
		margin-left: 66.6666%;
	}

	.columns.is-mobile > &.is-offset-half {
		margin-left: 50%;
	}

	.columns.is-mobile > &.is-offset-one-third {
		margin-left: 33.3333%;
	}

	.columns.is-mobile > &.is-offset-one-quarter {
		margin-left: 25%;
	}

	.columns.is-mobile > &.is-offset-one-fifth {
		margin-left: 20%;
	}

	.columns.is-mobile > &.is-offset-two-fifths {
		margin-left: 40%;
	}

	.columns.is-mobile > &.is-offset-three-fifths {
		margin-left: 60%;
	}

	.columns.is-mobile > &.is-offset-four-fifths {
		margin-left: 80%;
	}

	@for $i from 1 through 12 {
		.columns.is-mobile > &.is-#{$i} {
			flex: none;
			width: percentage($i / 12);
		}

		.columns.is-mobile > &.is-offset-#{$i} {
			margin-left: percentage($i / 12);
		}
	}

	@include tablet-down {
		@include CreateColumns("mobile");
	}

	@include tablet-up {
		&.is-narrow,
		&.is-narrow-tablet {
			flex: none;
		}

		&.is-full,
		&.is-full-tablet {
			flex: none;
			width: 100%;
		}

		&.is-three-quarters,
		&.is-three-quarters-tablet {
			flex: none;
			width: 75%;
		}

		&.is-two-thirds,
		&.is-two-thirds-tablet {
			flex: none;
			width: 66.6666%;
		}

		&.is-half,
		&.is-half-tablet {
			flex: none;
			width: 50%;
		}

		&.is-one-third,
		&.is-one-third-tablet {
			flex: none;
			width: 33.3333%;
		}

		&.is-one-quarter,
		&.is-one-quarter-tablet {
			flex: none;
			width: 25%;
		}

		&.is-one-fifth,
		&.is-one-fifth-tablet {
			flex: none;
			width: 20%;
		}

		&.is-two-fifths,
		&.is-two-fifths-tablet {
			flex: none;
			width: 40%;
		}

		&.is-three-fifths,
		&.is-three-fifths-tablet {
			flex: none;
			width: 60%;
		}

		&.is-four-fifths,
		&.is-four-fifths-tablet {
			flex: none;
			width: 80%;
		}

		&.is-offset-three-quarters,
		&.is-offset-three-quarters-tablet {
			margin-left: 75%;
		}

		&.is-offset-two-thirds,
		&.is-offset-two-thirds-tablet {
			margin-left: 66.6666%;
		}

		&.is-offset-half,
		&.is-offset-half-tablet {
			margin-left: 50%;
		}

		&.is-offset-one-third,
		&.is-offset-one-third-tablet {
			margin-left: 33.3333%;
		}

		&.is-offset-one-quarter,
		&.is-offset-one-quarter-tablet {
			margin-left: 25%;
		}

		&.is-offset-one-fifth,
		&.is-offset-one-fifth-tablet {
			margin-left: 20%;
		}

		&.is-offset-two-fifths,
		&.is-offset-two-fifths-tablet {
			margin-left: 40%;
		}

		&.is-offset-three-fifths,
		&.is-offset-three-fifths-tablet {
			margin-left: 60%;
		}

		&.is-offset-four-fifths,
		&.is-offset-four-fifths-tablet {
			margin-left: 80%;
		}

		@for $i from 1 through 12 {
			&.is-#{$i},
			&.is-#{$i}-tablet {
				flex: none;
				width: percentage($i / 12);
			}

			&.is-offset-#{$i},
			&.is-offset-#{$i}-tablet {
				margin-left: percentage($i / 12);
			}
		}
	}

	@include desktop-down {
		@include CreateColumns("touch");
	}

	@include desktop-up {
		@include CreateColumns("desktop");
	}

	@include widescreen-up {
		@include CreateColumns("widescreen");
	}
}

.columns {
	margin-left: -$column-gap;
	margin-right: -$column-gap;
	margin-top: -$column-gap;

	&.has-gap-large {
		margin-left: -$column-gap-large;
		margin-right: -$column-gap-large;
		margin-top: -$column-gap-large;

		&:last-child {
			margin-bottom: -$column-gap-large;
		}

		&:not(:last-child) {
			margin-bottom: calc(1.5rem - #{$column-gap-large});
		}

		.column {
			padding: $column-gap-large;
		}
	}

	&:last-child {
		margin-bottom: -$column-gap;
	}

	&:not(:last-child) {
		margin-bottom: calc(1.5rem - #{$column-gap});
	} // Modifiers
	&.is-centered {
		justify-content: center;
	}

	&.is-gapless {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;

		& > .column {
			margin: 0;
			padding: 0 !important;
		}

		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.is-mobile {
		display: flex;
	}

	&.is-multiline {
		flex-wrap: wrap;
	}

	&.is-vcentered {
		align-items: center;
	} // Responsiveness
	@include tablet-up {
		&:not(.is-desktop) {
			display: flex;
		}
	}

	@include desktop-up {
		// Modifiers
		&.is-desktop {
			display: flex;
		}
	}
}